body{
    background: #f5f5f5;
}
.hide {
    display: none;
}
.box{
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px #666;
    border-radius: 10px;
    margin-top: 15px;
}
.top-header{
    padding-bottom: 20px;
}